# ===============================
# AI Hedge Fund OS
# Lite Profile
# ===============================

TZ=Asia/Ho_Chi_Minh

POSTGRES_DB=ai_hedge_fund

POSTGRES_USER=postgres

POSTGRES_PASSWORD=change_me

POSTGRES_PORT=5432

N8N_PORT=5678

N8N_PROTOCOL=http

N8N_HOST=localhost

OLLAMA_HOST=http://host.docker.internal:11434

PROFILE=lite